<!DOCTYPE html>

<html>
    <head>
        <title>
            Sign Langauge
        </title>
        <link rel="stylesheet" href="/static/index.css">
        <script src="/static/my.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"> </script>
        <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.min.js"></script>    
    </head>

    <body>
        <!-- <h1>Hello World</h1> -->
        <div class="progress-bar">
            <div class="filled"></div>
        </div>
        <div class="navbar">
            <ul class="nav-items">
                <li>Home</li>
                <li>What is sign Langauge</li>
                <li>Know more</li>
            </ul>

        </div>

        <div class="hero-section">
            <h1 class="hero-text">Explore, discover, and learn Sign Language</h1>
            <div class="hero-main">
                <img src="/static/image.webp" height="300" width="500">
                <p>
                    In today's world, effective communication is essential for fostering inclusivity and understanding among diverse communities. 
                </p>
                
            </div>
        </div>

        <div class="content">
            <div class="content-mid">
                <h1 class="indian">
                Indian Sign Langauge
                </h1>
            </div>
            <div class="content-right">
                <h1 class="tut">Get Tutorials</h1>
            </div>
            
            <div class="content-section">
                <div class="box1">
                    <div class="link">
                        <a href="https://www.islrtc.nic.in/">The Government of India Portal for sign Langauge</a>
                        
                    </div>
                </div>
                <div class="box2 ">
                    <div class="link">
                        
                        <button type="submit" class="model">

                             <p>Click here for demo</p>
                    
                        </button>
                    
                        
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="motivation">
            <p class="mot">
                "Deaf people can do anything hearing people can do except hear” is a famous quote by I.
            </p>
        </div>

        <div class="shop-section">
                <div class="box3 box">
                    <div class="box-content">
                        <h1 class="heading">What is Sign Langauge</h1>
                        
                        <p>Sign language is manual communication commonly used by people who are deaf. Sign language is not universal; people who are deaf from different countries speak different sign languages. The gestures or symbols in sign language are organized in a linguistic way.</p>
                        <p>
                            Indian Sign Langauge ISL is the primary language of Deaf people in Deaf communities and Deaf families across the India. It's also a fast-growing. popular second language or foreign language for hearing people in North America. Like other languages, ASL has its regional variations.
                        </p>
                    </div>
                </div>
                <div class="box4 box">
                    <div class="box-content">
                        <h1 class="heading">Linguistics</h1>
                        
                        <p>Numerous studies show that signed languages and spoken languages are equal languages, despite different modalities (visual-spatial and vocal-auditory). They function in the same linguistic regions of the brain. Language acquisition from birth to kindergarten are on the similar timeline. Sign language has every linguistic feature from phonology and morphology to syntax as found in spoken language.</p>
                    </div>
                </div>
                <div class="box5 box">
                    <div class="box-content">
                        <h1 class="heading">Language learning
                        </h1>
                        
                        <p>Bilingualism has a number of cognitive benefits. Find out what benefits are for learning sign language. In addition to the benefits of bilingualism, bimodalism and Deafhood also have some extra benefits.

                            Explore some ways on how to get started with learning sign language.</p>
                    </div>
                </div>
                <div class="box6 box">
                    <div class="box-content">
                        <h1 class="heading">Deaf community and Deaf culture
                        </h1>
                        
                        <p>Where there is language, there is culture; sign language and Deaf culture are inseparable. Learning sign language and Deaf culture comes with the process of allyship along with awareness toward appreciation and away from cultural appropriation and audism (alliteration, yay!).</p>
                    </div>
                </div>
            </div>
            <div class="feedback" >

                    <h2>FeedBack</h2>
                    <div class="inp">
                        <form action="/" method="post">
                            {% csrf_token %}
                                <input class="in" name="name" placeholder="Name" required="true">
                                <input class="in" name="phone" placeholder="Phone Number">
                                <input class="in" name="feedback" placeholder="Feedback">
                                <button type="submit" class="submit" >Submit</button>
                            </form>
                    </div>
                
            </div>
            <div class="footer">
                <p class="foot">Copyright 2024 &copyLakshya Garg. All Rights Reserved!</p>
                
            </div>

    </body>
</html>


